{	"currVersion": 2,
		"downloadUrl": "http://cdn.lzzr.35i.com/mffx_dev/",		

		"gameServerCount" : 4,

		"gameServer0" : "123",
		"gatewayIP0" : "172.16.224.3",
		"gatewayPort0" : 7001,
		"gameServerState0" : 0,
		"gameServerFlag0" : 1,

		"gameServer1" : "一服",
		"gatewayIP1" : "172.16.224.4",
		"gatewayPort1" : 8001,
		"gameServerState1" : 1,
		"gameServerFlag1" : 1,

		"gameServer2" : "二服",
		"gatewayIP2" : "172.16.224.5",
		"gatewayPort2" : 9001,
		"gameServerState2" : 2,
		"gameServerFlag2" : 2,

		"gameServer3" : "三服",
		"gatewayIP3" : "172.16.224.6",
		"gatewayPort3" : 9002,
		"gameServerState3" : 3,
		"gameServerFlag3" : 3

	  }