<{extends file='Admin/index.html'}>
<{block name=bbb}>
<script src="/views/dataTimeStyle/jquery.datetimepicker.js"></script>
<link rel="stylesheet" href="/views/dataTimeStyle/jquery.datetimepicker.css" type="text/css" />
<style>
    .page_title{font-size: 14px;color: #438EB9;margin: 10px 0 0 0;height: 35px;line-height: 35px;background:#FAFAFA ;border: 1px solid #DEDEDE;border-radius: 6px;padding-left: 10px;}
    .page_title span{font-size: 18px;color: #438EB9;padding-left: 10px;height: 40px;line-height: 40px;font-weight: bold}
    .selectDiv{height: 50px;}
    .selectDiv span{display: block;float: left;line-height: 50px;height: 50px;margin-left: 10px;}
    .selectDiv select{display: block;float: left;margin-top: 10px;height: 30px;width: 150px;line-height: 30px;margin-left: 10px;}
    .selectDiv input{display: block;float: left;height: 28px;width: 150px;margin: 10px 0 0 10px;}
    .selectDiv_submit{float: left;height: 28px;margin-top: 10px;margin-left: 20px;background:#438EB9;color: #ffffff;line-height: 30px;text-align: center;width: 100px;font-size: 12px;cursor: pointer}
    .payList span{color:#438EB9}
    .ReportData{box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);border: 1px solid #DEDEDE;border-radius: 5px;padding-left: 10px;padding-right:10px; }
    .ReportDataTitle{height: 40px;}
    .ReportDataTitle_list{float: left;line-height: 40px;height: 40px;width: 150px;text-align: center;font-size: 14px;font-weight: 600}
    .ReportDataCenter{background:#F5F5F5;border-bottom:1px solid #DEDEDE;height: 30px;}
    .ReportDataCenter_list{float: left;line-height: 30px;height: 30px;width: 150px;text-align: center;font-size: 12px;overflow-y: scroll}
    .drop_down{width: 20px;height: 20px;margin-left: 10px;margin-top: 10px;background: url("/views/img/iconC.png") -310px -115px #F5F5F5;}

</style>

<div class="page_title"><span><{$objectName}></span> 平台->运营数据->操作日志</div>
<div style="padding-left: 10px;padding-top: 10px;">
    <div class="selectDiv">
        <span>服区*</span>
        <select class="serverIndex">
            <option value="0" selected>全部服区</option>
        </select>
        <span>日期*</span>
        <input type="text" class="startDay" value="<{$startDay}>">
        <span>到</span>
        <input type="text" class="endDay" value="<{$endDay}>">
        <div class="selectDiv_submit">提交</div>
    </div>

    <div class="ReportData">
        <div class="ReportDataTitle">
            <div class="ReportDataTitle_list">账号</div>
            <div class="ReportDataTitle_list">平台</div>
            <div class="ReportDataTitle_list">路由</div>
            <div class="ReportDataTitle_list">操作时间</div>
            <div class="ReportDataTitle_list">http请求方式</div>
            <div class="ReportDataTitle_list">ip</div>
            <div class="ReportDataTitle_list"  style="width: 500px">参数</div>
        </div>

        <{if $data}>
        <{foreach $data as $kk=>$vv}>
        <div class="ReportDataCenter" <{if $kk > ($pagelength-1)}> style="display: none"<{/if}>>
            <div class="ReportDataCenter_list"><{$vv['userName']}></div>
            <div class="ReportDataCenter_list"></div>
            <div class="ReportDataCenter_list"><{$vv['className']}></div>
            <div class="ReportDataCenter_list"><{date("Y-m-d h:i:s",$vv['tTime'])}></div>
            <div class="ReportDataCenter_list"><{$vv['sendType']}></div>
            <div class="ReportDataCenter_list"><{$vv['userIp']}></div>
            <div class="ReportDataCenter_list" style="width: 500px"><{$vv['sendContent']}></div>
        </div>
        <{/foreach}>
        <{else}>
        <div class="ReportDataCenter">没有数据！</div>
        <{/if}>
        <div class="ReportDataTitle">
            <{if $pageSum>=2}>
            <div class="drop_down"></div>
            <{/if}>
        </div>
    </div>
</div>
<script>
    $(function(){
        var pageSum=<{$pageSum}>;
        var showPage=1;
        var showPageLength=<{$pagelength}>;
        $('.startDay').datetimepicker({
            lang:"ch",           //语言选择中文
            format:"Y-m-d 00:00:00",      //格式化日期
            timepicker:false,    //关闭时间选项
            yearStart:2000,     //设置最小年份
            yearEnd:2050,        //设置最大年份
            todayButton:false    //关闭选择今天按钮
        });
        $('.endDay').datetimepicker({
            lang:"ch",           //语言选择中文
            format:"Y-m-d 23:59:59",      //格式化日期
            timepicker:false,    //关闭时间选项
            yearStart:2000,     //设置最小年份
            yearEnd:2050,        //设置最大年份
            todayButton:false    //关闭选择今天按钮
        });
        $(".selectDiv_submit").click(function(){
            var serverIndex=$(".serverIndex").val();
            var startDay=$(".startDay").val();
            var endDay=$(".endDay").val();
            $(this).html('发送中...');
            $(this).css({"background":"#616161"});
            if(startDay && endDay){
                $.get("/DoingLogShowGet/",{"startDay":startDay,"endDay":endDay,"doingUnid":new Date().getTime()},function(data){
                    var obj = jQuery.parseJSON(data);
                    if(obj.status!=2000){
                        alert(obj.message)
                    }
                    window.location.reload();
                })
            }else{
                alert("填写必须参数！")
            }
        });
        $(".drop_down").click(function(){
            if(pageSum>showPage){
                var link=showPage*showPageLength-1;
                for(var i=1;i<=showPageLength;i++){
                    $(".ReportDataCenter:eq("+link+")").show();
                    link++;
                }
                showPage++;
                if(showPage==pageSum){
                    $(this).hide();
                }
            }
        });
    });

</script>
<{/block}>