<{extends file='Admin/index.html'}>
<{block name=bbb}>
<script src="/views/dataTimeStyle/jquery.datetimepicker.js"></script>
<link rel="stylesheet" href="/views/dataTimeStyle/jquery.datetimepicker.css" type="text/css" />
<style>
    .page_title{font-size: 14px;color: #438EB9;margin: 10px 0 0 0;height: 35px;line-height: 35px;background:#FAFAFA ;border: 1px solid #DEDEDE;border-radius: 6px;padding-left: 10px;}
    .page_title span{font-size: 18px;color: #438EB9;padding-left: 10px;height: 40px;line-height: 40px;font-weight: bold}
    .container{width: 800px;height: 420px;box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);float: left;margin: 10px 5px 10px 5px;}
    .container_tt{height: 40px;line-height: 40px;font-size: 16px;background: transparent linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%) repeat scroll 0% 0%}
    #container_cen{height: 380px;}
    .iconC1{width: 20px;height: 20px;background: url("/views/img/iconC.png") 0 0;float: left;margin: 12px 10px auto 10px;}
    #lineUser{height: 380px;}
    .selectDiv{height: 50px;position: relative}
    .selectDiv span{display: block;float: left;line-height: 50px;height: 50px;margin-left: 10px;}
    .selectDiv select{display: block;float: left;margin-top: 10px;height: 30px;width: 150px;line-height: 30px;margin-left: 10px;}
    .selectDiv input{display: block;float: left;height: 28px;width: 150px;margin: 10px 0 0 10px;}
    .selectDiv_submit{float: left;height: 28px;margin-top: 10px;margin-left: 20px;background:#438EB9;color: #ffffff;line-height: 30px;text-align: center;width: 100px;font-size: 12px;cursor: pointer}
    .payList{line-height: 30px;height: 30px;}
    .payList span{color:#438EB9}
    .containerPay{margin: 10px 0 0 10px;}
    .sumdiv{clear: both}
    .sumdivList{float:left;width: 300px;height: 100px;box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);padding-top: 10px;background: transparent linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%) repeat scroll 0% 0%;margin:0 10px 0 5px;}
    .sumdivList_icon{width: 30px;height: 30px;background: url("/views/img/iconS.png") -257px -260px;margin: 0 auto 0 auto;}
    .sumdivList_tt{text-align: center;font-size: 18px;font-weight: 600;height: 40px;line-height: 40px;}
    .sumdivList_int{font-weight: 600;font-size: 14px;color: #438EB9;text-align: center;line-height: 30px;height: 30px;}
    .sumdivList_icon_ren{width: 30px;height: 30px;background: url("/views/img/iconS.png") -35px -160px;margin: 0 auto 0 auto;}
    .ReportData{box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);border: 1px solid #DEDEDE;border-radius: 5px;padding-left: 10px;padding-right:10px; }
    .ReportDataTitle{height: 40px;}
    .ReportDataTitle_list{float: left;line-height: 40px;height: 40px;width: 150px;text-align: center;font-size: 14px;font-weight: 600}
    .roleKey{width: 90%;border: 1px solid #DEDEDE;height: 30px;line-height: 30px;border-radius:4px;margin: 0 auto}
    .ReportDataCenter{background:#F5F5F5;border-bottom:1px solid #DEDEDE;height: 30px;}
    .ReportDataCenter_list{float: left;line-height: 30px;height: 30px;width: 150px;text-align: center;font-size: 12px;}
    .drop_down{width: 20px;height: 20px;margin-left: 10px;margin-top: 10px;background: url("/views/img/iconC.png") -310px -115px #F5F5F5;}
    .myselfInput{float: left;height: 28px;width: 150px;margin: 10px 0 0 10px;border: 1px solid #DEDEDE;line-height: 28px;}
    .myselfSelect{background: #ffffff;display:none;position: absolute;top: 40px ;left: 648px;border: 1px solid #DEDEDE;box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);height: 230px;width: 150px;overflow-y: scroll;z-index: 3;}
    .myselfSelectOption{padding-left: 10px;height: 20px;font-size: 12px;line-height: 20px;}
    .pageInt{width: 30px;height: 30px;border-radius: 4px;background: #DEDEDE;float: left;line-height: 30px;text-align: center;margin: 5px 10px 0 0;cursor: pointer}
    .pageInt:hover{background:#c8e5f6}
    .pageInt_z{width: 28px;height: 28px;border-radius: 4px;border: 1px solid #DEDEDE;float: left;line-height: 28px;text-align: center;margin: 5px 10px 0 0;}
    .PlayerDoingSelset{border-radius: 6px;height: 32px;border: 1px solid #DEDEDE;line-height: 32px;width: 100px}
    .selectDiv select,.selectDiv input{border-radius: 6px;height: 32px;border: 1px solid #DEDEDE;line-height: 32px;cursor: pointer}
    .selectDiv select option{height: 20px;line-height: 20px;font-size: 12px;padding-left: 5px;}
</style>
<div class="page_title"><span><{$objectName}></span> 平台->运营数据->玩家日志查询查询</div>
<div style="padding-top: 10px;">
    <div class="selectDiv">
        <span>服区*</span>
        <select class="serverIndex">
            <option value="" <{if $serverIndex==0}>selected<{/if}>>全部服区</option>
            <{foreach $serverS as $vv}>
            <option value="<{$vv['id']}>" <{if $serverIndex==$vv['id']}>selected<{/if}>><{$vv['GameServerUnid']}></option>
            <{/foreach}>
        </select>
        <span>日期*</span>
        <input type="text" class="startDay" value="<{$startDay}>">
        <span>到*</span>
        <input type="text" class="endDay" value="<{$endDay}>">
        <select class="PlayerDoingSelset">
            <option value="-1" <{if $UserDoingSelectIndex=='-1'}>selected<{/if}>>全服日志_-1</option>
            <{foreach $PlayerDoing as $kk=>$vv}>
               <option value="<{$kk}>" <{if $kk==$UserDoingSelectIndex}>selected <{/if}> ><{$vv}>_<{$kk}></option>
            <{/foreach}>
        </select>
        <span>角色*</span>
        <input type="text" class="roles" value="<{$roles}>">
        <span>显示规范*</span>
        <select class="showState">
            <option value="1" <{if $showState=='1'}>selected<{/if}>>降序</option>
            <option value="2" <{if $showState=='2'}>selected<{/if}>>升序</option>
        </select>
        <div class="selectDiv_submit">提交</div>
    </div>

    <div class="ReportData">
        <div class="ReportDataTitle">
            <div class="ReportDataTitle_list" style="width: 170px;">玩家动作ID</div>
            <div class="ReportDataTitle_list">地图名</div>
            <div class="ReportDataTitle_list">角色名</div>
            <div class="ReportDataTitle_list">玩家坐标（X,Y）</div>
            <div class="ReportDataTitle_list">Actions</div>
            <div class="ReportDataTitle_list">value1</div>
            <div class="ReportDataTitle_list">value2</div>
            <div class="ReportDataTitle_list">funcName</div>
            <div class="ReportDataTitle_list">操作时间</div>
        </div>
        <{if $data}>
            <{foreach $data as $kk=>$vv}>
            <div class="ReportDataCenter">
                <div class="ReportDataCenter_list" style="width: 170px;"><{$vv['MsgID']}></div>
                <div class="ReportDataCenter_list"><{$vv['MapName']}></div>
                <div class="ReportDataCenter_list"><{$vv['PlayerName']}></div>
                <div class="ReportDataCenter_list">(<{$vv['PlayerX']}>,<{$vv['PlayerY']}>)</div>
                <div class="ReportDataCenter_list"><{$vv['Actions']}></div>
                <div class="ReportDataCenter_list" ><{$vv['Value1']}></div>
                <div class="ReportDataCenter_list" ><{$vv['Value2']}></div>
                <div class="ReportDataCenter_list" ><{$vv['funcName']}></div>
                <div class="ReportDataCenter_list"><{$vv['SendTime']}></div>
            </div>
            <{/foreach}>
        <{else}>
        <div class="ReportDataCenter">没有数据！</div>
        <{/if}>
        <div class="ReportDataTitle">
            <{if $showPageInt!=1}>
                <div class="pageInt" pageInt="1" style="width: 60px;">第一页</div>
                <div class="pageInt" pageInt="<{$showPageInt-1}>" style="width: 60px;">上页</div>
            <{/if}>
            <{if $pageSum>=2 && $pageSum<=11}>
                <{for $i=1 to  $pageSum step 1}>
                    <div <{if $showPageInt==$i}>class="pageInt_z"<{else}>class="pageInt"<{/if}> pageInt="<{$i}>"><{$i}></div>
                <{/for}>
            <{elseif  $pageSum > 11}>
                <{if $showPageInt <=5}>
                    <{for $i=1 to  11 step 1}>
                        <div <{if $showPageInt==$i}>class="pageInt_z"<{else}>class="pageInt"<{/if}> pageInt="<{$i}>"><{$i}></div>
                    <{/for}>
                    <div class="pageInt_z">...</div>
                <{elseif  $showPageInt > 5 && $showPageInt <= $pageSum-5}>
                    <div class="pageInt_z">...</div>
                        <{for $i=$showPageIntS5 to $showPageIntA5  step 1}>
                        <div <{if $showPageInt==$i}>class="pageInt_z"<{else}>class="pageInt"<{/if}> pageInt="<{$i}>"><{$i}></div>
                        <{/for}>
                    <div class="pageInt_z">...</div>
                <{elseif $showPageInt > $pageSumTo5}>
                    <div class="pageInt_z">...</div>
                    <{for $i=$pageSumTo11 to  $pageSum step 1}>
                    <div <{if $showPageInt==$i}>class="pageInt_z"<{else}>class="pageInt"<{/if}> pageInt="<{$i}>"><{$i}></div>
                    <{/for}>
                <{/if}>
            <{/if}>
            <{if $showPageInt!=$pageSum}>
                <div class="pageInt" pageInt="<{$showPageInt+1}>" style="width: 60px;">下页</div>
                <div class="pageInt" pageInt="<{$pageSum}>" style="width: 60px;">最后一页</div>
            <{/if}>

        </div>
    </div>
</div>
<script>
    $(function(){
        var showPageLength=<{$pagelength}>;
        var className='<{$className}>';
        $('.startDay').datetimepicker({
            lang:"ch",           //语言选择中文
            format:"Y-m-d",      //格式化日期
            timepicker:false,    //关闭时间选项
            yearStart:2000,     //设置最小年份
            yearEnd:2050,        //设置最大年份
            todayButton:false    //关闭选择今天按钮
        });
        $('.endDay').datetimepicker({
            lang:"ch",           //语言选择中文
            format:"Y-m-d",      //格式化日期
            timepicker:false,    //关闭时间选项
            yearStart:2000,     //设置最小年份
            yearEnd:2050,        //设置最大年份
            todayButton:false    //关闭选择今天按钮
        });
        $(".selectDiv_submit").click(function(){
            var serverIndex=$(".serverIndex").val();
            var startDay=$(".startDay").val();
            var endDay=$(".endDay").val();
            var PlayerDoingSelset=$(".PlayerDoingSelset").val();
            var roles=$(".roles").val();
            var showState=$(".showState").val();
            if(startDay && serverIndex && endDay && PlayerDoingSelset>=-1 && roles && showState){
                $(this).html('发送中...');
                $(this).css({"background":"#616161"});
                $.get("/SUerDoingSelectGet/",{"serverIndex":serverIndex,"startDay":startDay,"endDay":endDay,'className':className,"PlayerDoingSelset":PlayerDoingSelset,"roles":roles,"showState":showState,'doingunid':new Date().getTime()},function(data){
                    var obj = jQuery.parseJSON(data);
                    if(obj.status!=2000){
                        alert(obj.message)
                    }
                    window.location.reload();
                })
            }else{
                alert("填写必须参数！")
            }

        });

        $(".myselfInput").click(function(){
            $(".myselfSelect").show();
        });
        $(".myselfSelectOption").each(function(index){
            $(this).click(function(){
                var value=$(this).attr("value");
                var htmlString=$(this).html();
                $(".myselfInput").html(htmlString);
                $(".myselfInput").attr({"values":value});
                $(".myselfSelect").hide();
            });
            $(this).mouseover(function(){
                $(".myselfSelectOption").css({"background":"#ffffff"});
                $(this).css({"background":"#DEDEDE"});
            })
        });
        $(".pageInt").each(function(){
            $(this).click(function(){
                var pageInt=$(this).attr('pageInt');
                $.get("/pageIntChangePage/",{"showId":pageInt,'className':className,'doingunid':new Date().getTime()},function(data){
                    var obj = jQuery.parseJSON(data);
                    if(obj.status!=2000){
                        alert(obj.message)
                    }
                    window.location.reload();
                })
            })
        });
    });

</script>
<{/block}>