<{extends file='Admin/index.html'}>
<{block name=bbb}>
<script src="/views/dataTimeStyle/jquery.datetimepicker.js"></script>
<link rel="stylesheet" href="/views/dataTimeStyle/jquery.datetimepicker.css" type="text/css" />
<style>
    .page_title{font-size: 14px;padding-left: 10px;border-bottom: 2px solid #438EB9;height: 40px;line-height: 40px;}
    .page_title span{font-size: 18px;color: #438EB9;padding-left: 10px;height: 40px;line-height: 40px;font-weight: bold}
    .ReportData{box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);border: 1px solid #DEDEDE;border-radius: 5px;}
    .showList{clear: both;height: 32px;margin-top: 10px;}
    .showList_name{float: left;height: 30px;line-height: 30px;font-size: 12px;;text-align: right;width: 150px;}
    .showList select{display: block;float: left;height: 30px;line-height: 30px;font-size: 12px;width: 150px;}
    .showList span{display: block;float: left;height: 30px;line-height: 30px;font-size: 12px;width: 150px;}
    .showList input{height: 30px;line-height: 30px;display: block;float: left;width: 300px;border: 1px solid #cccccc;font-size: 14px;}
    .showList textarea{line-height: 30px;height: 60px;display: block;float: left;width: 600px;}
    .showList_submit{width: 120px;height: 25px;line-height: 25px;font-size: 14px;text-align: center;border: 1px solid  #cccccc;border-radius: 4px;cursor: pointer}
    .container_tt{height: 40px;line-height: 40px;font-size: 16px;background: transparent linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%) repeat scroll 0% 0%}
    .iconC1{width: 20px;height: 20px;background: url("/views/img/iconC.png") 0 0;float: left;margin: 12px 10px auto 10px;}
</style>
<div class="page_title"><span><{$objectName}></span> 平台->运营数据->邮件发布</div>
<div style="padding-left: 10px;padding-top: 10px;">
    <div class="ReportData">
        <div class="container_tt"><div class="iconC1"></div>邮件发布</div>
        <div class="showList">
            <div class="showList_name">服区*：</div>
            <select class="serverIndex">
                <option value="0">--全服区--</option>
                <{foreach $serverS as $vv}>
                <option value="<{$vv['id']}>" <{if $serverIndex==$vv['id']}>selected<{/if}>><{$vv['GameServerUnid']}></option>
                <{/foreach}>
            </select>
        </div>
        <div class="showList">
            <div class="showList_name">公告标题*：</div>
            <input type="text" class="NoticeTitle" style="width: 400px;">
        </div>
        <div class="showList">
            <div class="showList_name">公告内容*：</div>
            <input type="text" class="message" style="width: 1000px;">
        </div>
        <div class="showList">
            <div class="showList_name">发布时间*：</div>
            <input type="text" class="startDay">
        </div>
        <div class="showList">
            <div class="showList_name">发布次数*：</div>
            <input type="text" class="timeNumber" style="width: 50px;">
        </div>
        <div class="showList">
            <div class="showList_name">间隔时间*：</div>
            <select class="timeLong">
                <option value="60">1min</option>
                <option value="300">5min</option>
                <option value="600">10min</option>
                <option value="1800">30min</option>
                <option value="3600">60min</option>
            </select>
        </div>
        <div class="showList" style="height: 64px;">
            <div class="showList_submit" style="cursor:pointer;margin: 0 auto">提交</div>
        </div>
    </div>
</div>
</div>
<script>
    $(function(){
        $(".showList_submit").click(function(){
            var serverIndex=$(".serverIndex").val();
            var title=$(".NoticeTitle").val();
            var message=$(".message").val();
            var startDay=$(".startDay").val();
            var timeNumber=$(".timeNumber").val();
            var timeLong=$(".timeLong").val();
            if(title && message ){
                $(this).html('发送中...');
                $(this).css({"background":"#616161"});
                $.post("/NoticeAddPost_xx/",{"serverIndex":serverIndex,"title":title,"message":message,'startDay':startDay,'timeNumber':timeNumber,'timeLong':timeLong,"doingUnid":new Date().getTime()},function(data){
                    var obj = jQuery.parseJSON(data);
                    if(obj.status!=2000){
                        alert(obj.message);
                    }else{
                        alert(obj.message);
                        window.location.reload();
                    }
                })
            }else{
                //alert('参数不全！');
            }
        });
        $(".showList_submit").mousedown(function(){
           $(this).css({"background":"#438EB9"})
        }).mouseup(function(){
            $(this).css({"background":""})
        });
        $('.startDay').datetimepicker({
            lang:"ch",           //语言选择中文
            format:"Y-m-d H:i:00",      //格式化日期
            timepicker:true,    //关闭时间选项
            yearStart:2000,     //设置最小年份
            yearEnd:2050,        //设置最大年份
            todayButton:false    //关闭选择今天按钮
        });
    });
</script>
<{/block}>