<{extends file='From/index.html'}>
<{block name=bbb}>
<script src="/views/dataTimeStyle/jquery.datetimepicker.js"></script>
<link rel="stylesheet" href="/views/dataTimeStyle/jquery.datetimepicker.css" type="text/css" />
<style>
    .page_title{font-size: 14px;color: #438EB9;margin: 10px 0 0 0;height: 35px;line-height: 35px;background:#FAFAFA ;border: 1px solid #DEDEDE;border-radius: 6px;padding-left: 10px;}
    .page_title span{font-size: 18px;color: #438EB9;padding-left: 10px;height: 40px;line-height: 40px;font-weight: bold}
    .selectDiv{height: 50px;}
    .selectDiv span{display: block;float: left;line-height: 50px;height: 50px;margin-left: 10px;}
    .selectDiv select{display: block;float: left;margin-top: 10px;height: 30px;width: 150px;line-height: 30px;margin-left: 10px;border: 1px solid #cccccc}
    .selectDiv input{display: block;float: left;height: 28px;width: 150px;margin: 10px 0 0 10px;border: 1px solid #cccccc}
    .selectDiv_submit{float: left;height: 28px;margin-top: 10px;margin-left: 20px;background:#438EB9;color: #ffffff;line-height: 30px;text-align: center;width: 100px;font-size: 12px;cursor: pointer}
    .payList span{color:#438EB9}
    .ReportData{box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);border: 1px solid #DEDEDE;border-radius: 5px;padding-left: 10px;padding-right:10px; }
</style>
<script src="/views/echarts/echarts.min.js"></script>

<div class="page_title"><span><{$objectName}></span> 平台->运营数据->导入用户量</div>
<div style="padding-top: 10px;">
    <div class="selectDiv">
        <span>服区*</span>
        <select class="serverIndex">
            <option value="0" <{if $serverIndex==0}>selected<{/if}>>全部服区</option>
            <{foreach $serverS as $vv}>
            <option value="<{$vv['id']}>" <{if $serverIndex==$vv['id']}>selected<{/if}>><{$vv['ServerTitle']}></option>
            <{/foreach}>
        </select>
        <span>日期*</span>
        <input type="text" class="startDay" value="<{$StartDay}>">
        <span>到*</span>
        <input type="text" class="endDay" value="<{$EndDay}>" >
        <div class="selectDiv_submit">提交</div>
    </div>

    <div class="ReportData">
        <div id="main" style="width: 1670px;height: 600px;"></div>
    </div>



</div>
<script>
    var myChart = echarts.init(document.getElementById('main'));
    var option={
        title : {text: '', subtext: '', x: 'center', align: 'right'},
        grid: {bottom: 80},
        tooltip : {
            trigger: 'axis',
            formatter: function(params) {
                return params[0].name + '<br/>'
                        + params[0].seriesName + ' : ' + params[0].value + ' (人/s)<br/>';
            },
            axisPointer: {
                animation: false
            }
        },
        legend: {data:['人数'], x: 'left'},
        dataZoom: [{show: true, realtime: true, start: <{$showIconStart}>, end:<{$showIconEnd}>}],
        xAxis : [{type : 'category', boundaryGap : false, axisLine: {onZero: false}, data :<{$data_x}>.map(function (str) {return str.replace(' ', '\n')})}],
        yAxis: [{name: '导入人数(/s)', type: 'value'}],
        series: [
            {name:'人数', type:'line', hoverAnimation: false, areaStyle: {normal: {}},
                lineStyle: {normal: {width: 1}},
                data:<{$data_cl}>
            }
        ]
    };
    myChart.setOption(option);



    $(function() {
        $('.startDay').datetimepicker({
            lang: "ch",           //语言选择中文
            format: "Y-m-d",      //格式化日期
            timepicker: false,    //关闭时间选项
            yearStart: 2000,     //设置最小年份
            yearEnd: 2050,        //设置最大年份
            todayButton: false    //关闭选择今天按钮
        });
        $('.endDay').datetimepicker({
            lang: "ch",           //语言选择中文
            format: "Y-m-d",      //格式化日期
            timepicker: false,    //关闭时间选项
            yearStart: 2000,     //设置最小年份
            yearEnd: 2050,        //设置最大年份
            todayButton: false    //关闭选择今天按钮
        });
        $(".selectDiv_submit").click(function () {
            var serverIndex = $(".serverIndex").val();
            var startDay = $(".startDay").val();
            var endDay = $(".endDay").val();
            $(this).html('发送中...');
            $(this).css({"background":"#616161"});
            if (startDay && endDay) {
                $.get("/FImportUserGet/", {"serverIndex": serverIndex, "startDay": startDay, "endDay": endDay}, function (data) {
                    var obj = jQuery.parseJSON(data);
                    if (obj.status != 2000) {
                        alert(obj.message)
                    }
                    window.location.reload();
                })
            } else {
                alert("填写必须参数！")
            }

        });
    });
</script>
<{/block}>