<{extends file='Admin/index.html'}>
<{block name=bbb}>
<script src="/views/datastyle/WdatePicker.js"></script>
<script src="/views/dataTimeStyle/jquery.datetimepicker.js"></script>
<link rel="stylesheet" href="/views/dataTimeStyle/jquery.datetimepicker.css" type="text/css" />
<style>
    .page_title{font-size: 14px;color: #438EB9;margin: 10px 0 0 0;height: 35px;line-height: 35px;background:#FAFAFA ;border: 1px solid #DEDEDE;border-radius: 6px;padding-left: 10px;}
    .page_title span{font-size: 18px;color: #438EB9;padding-left: 10px;height: 40px;line-height: 40px;font-weight: bold}
    .table_tt_list{clear: both;height: 40px;}
    .table_tr{float: left;line-height: 30px;height: 30px;width: 150px;text-align: center;font-size: 12px;}
    .table_name{float: left;line-height: 30px;height: 30px;}
    .noticeAdd{float: left;}
    .add_div{float: left;line-height: 30px;height: 30px;}
    .show_div{background: url('/views/img/bg_cc.png');width: 100%;height: 100%;position: fixed;z-index: 3;display: none;top:0;left: 0}
    .show_center{width: 1000px;margin: 10px auto 0 auto;background: #ffffff;height:800px;overflow-y: scroll}
    .showList{clear: both;height: 32px;margin-top: 10px;}
    .showList_name{float: left;height: 30px;line-height: 30px;font-size: 12px;;text-align: right;width: 150px;}
    .showList select{display: block;float: left;height: 30px;line-height: 30px;font-size: 12px;width: 150px;}
    .showList span{display: block;float: left;height: 30px;line-height: 30px;font-size: 12px;width: 50px;text-align: right;}
    .showList input{height: 30px;line-height: 30px;display: block;float: left;width: 300px;border: 1px solid #cccccc;font-size: 14px;}
    .close_show_title{font-size: 18px;color: #438EB9;line-height: 40px;height: 40px;float: left}
    .showList textarea{line-height: 30px;height: 60px;display: block;float: left;width: 600px;}
    .close_show_div{float: right;font-size: 14px;height: 40px;line-height: 40px;margin-right: 30px;}
    .showList_submit{width: 120px;height: 25px;line-height: 25px;font-size: 14px;text-align: center;border: 1px solid  #cccccc;cursor: pointer}
    .delete{width: 70px ;color: #438EB9;font-size: 12px;line-height: 30px;height: 30px;text-align: center;float: left;cursor:pointer }
    .fisrtGet{box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);border: 1px solid #DEDEDE;border-radius: 5px;padding: 0 10px 0 10px}
    .table_tt_tr{float: left;line-height: 40px;height: 40px;width: 150px;text-align: center;font-size: 14px;font-weight: 600}
    .table_list{background:#F5F5F5;border-bottom:1px solid #DEDEDE;height: 30px;}

    .relieve{width: 70px ;color: #438EB9;font-size: 12px;line-height: 30px;height: 30px;text-align: center;float: left;cursor:pointer}
</style>
<div class="conten">
    <div class="page_title"><span><{$objectName}></span> 平台->系统管理->展示区服设置</div>
    <div style="padding-left: 10px;padding-top: 10px;">
        <div style="margin-top: 10px;" class="queryShow">
            <div style="font-size: 14px ;height: 30px;line-height: 30px;">
                <div class="table_name">区服务列表：</div>
                <div class="noticeAdd">
                    <div class="icon_add"></div>
                    <div class="add_div">增加区服务器</div>
                </div>
            </div>
            <div class="fisrtGet">
                <div class="table_tt_list">
                    <div class="table_tt_tr">平台</div>
                    <div class="table_tt_tr" style="width: 60px">类型</div>
                    <div class="table_tt_tr">服区名称</div>
                    <div class="table_tt_tr">是否开放</div>
                    <div class="table_tt_tr">开放时间</div>
                    <div class="table_tt_tr">域名</div>
                    <div class="table_tt_tr">游戏端口</div>
                    <div class="table_tt_tr">服务器状态</div>
                    <div class="table_tt_tr">服务器标识</div>
                    <div class="table_tt_tr" >操作</div>
                </div>
                <{if $data}>
                    <{foreach $data as $kk=>$vv}>
                    <div class="table_list">
                        <div class="table_tr"><{foreach $objectS as $item}><{if $item['id']==$vv['ObjectId']}><{$item['title']}><{/if}><{/foreach}></div>
                        <div class="table_tr"  style="width: 60px"><{if $vv['Style']==1}>正式<{elseif $vv['Style']==2}>内部<{elseif $vv['Style']==3}>被合并<{/if}></div>
                        <div class="table_tr"><{$vv['ServerTitle']}></div>
                        <div class="table_tr"><{if $vv['OpenType']==1}>开放<{elseif $vv['OpenType']==2}>关闭<{/if}></div>
                        <div class="table_tr"><{$vv['OpenTime']}></div>
                        <div class="table_tr"><{$vv['NetUrl']}></div>
                        <div class="table_tr"><{$vv['GamePort']}></div>
                        <div class="table_tr"><{if $vv['ServerRunState']==0}>空闲<{elseif  $vv['ServerRunState']==1}>良好<{elseif $vv['ServerRunState']==2}>爆满<{elseif $vv['ServerRunState']==3}>维护中<{else}>未知<{/if}></div>
                        <div class="table_tr"><{if $vv['ServerState']==0}>正常服<{elseif $vv['ServerState']==1}>新服<{elseif $vv['ServerState']==2}>推荐服<{elseif $vv['ServerState']==3}>满<{elseif $vv['ServerState']==4}>维护中<{else}>未知<{/if}></div>
                        <div class="table_tr" >
                            <div class="delete"  serverId="<{$vv['id']}>" ObjectId="<{$vv['ObjectId']}>"  StyleStr="<{$vv['Style']}>"  ServerTitle="<{$vv['ServerTitle']}>"    NetUrl="<{$vv['NetUrl']}>"  GamePort="<{$vv['GamePort']}>"   OpenType="<{$vv['OpenType']}>"  serverRunState="<{$vv['ServerRunState']}>" serverState="<{$vv['ServerState']}>" OpenTime="<{$vv['OpenTime']}>">修改</div>
                        </div>
                    </div>
                    <{/foreach}>
                <{/if}>
                <div class="table_tt_list">
                </div>
            </div>
        </div>
    </div>

</div>
<div class="show_div">
    <div class="show_center">
        <div class="page_title"><div  class="close_show_title" >增加区服</div><div class="close_show_div">关闭</div></div>
        <div class="showList">
            <div class="showList_name">平台：</div>
            <select class="ObjectId">
                <option value="0">--选择平台--</option>
                <{foreach $objectS as $vv}>
                    <option value="<{$vv['id']}>"><{$vv['title']}></option>
                <{/foreach}>
            </select>
        </div>
        <div class="showList">
            <div class="showList_name">服类型：</div>
            <select class="Style">
                <option value="0">--选择类型--</option>
                <option value="1">正式</option>
                <option value="2">内部</option>
            </select>
        </div>
        <div class="showList">
            <div class="showList_name">服区名称：</div>
            <input type="text" class="ServerTitle">
        </div>
        <div class="showList">
            <div class="showList_name">开服时间：</div>
            <input type="text" class="OpenTime" placeholder="2015-12-30 15:00:00">
        </div>
        <div class="showList">
            <div class="showList_name">域名：</div>
            <input type="text" class="NetUrl">
        </div>
        <div class="showList" style="border-bottom: #cccccc 1px dashed">
            <div class="showList_name">游戏端口：</div>
            <input type="text" class="GamePort">
        </div>
        <div class="showList">
            <div class="showList_name">是否开放：</div>
            <select class="OpenType">
                <option value="0">--选择开放类型--</option>
                <option value="1">开服</option>
                <option value="2">关服</option>
            </select>
        </div>
        <div class="showList">
            <div class="showList_name">服务器状态：</div>
            <select class="serverRunState">
                <option value="-1">--服务器状态--</option>
                <option value="0">空闲</option>
                <option value="1">良好</option>
                <option value="2">爆满</option>
                <option value="3">维护中</option>
            </select>
        </div>
        <div class="showList">
            <div class="showList_name">服务器标识：</div>
            <select class="serverState">
                <option value="-1">--服务器标识--</option>
                <option value="0">正常服</option>
                <option value="1">新服</option>
                <option value="2">推荐服</option>
                <option value="3">满</option>
                <option value="4">维护中</option>
            </select>
        </div>

        <div class="showList" style="height: 64px;">
            <div class="showList_submit" style="margin: 0 auto">提交</div>
        </div>
    </div>
</div>
<script>
    $(function(){
        var conten_x=$(".conten").width();
        isModify=1;                                //判断是否是修改模式
        serverId=0;                                //修改的id

        objectSJson=<{$objectSJson}>;              //object的json格式
        fileServerJson=<{$fileServerJson}>;       //资源服务json格式
        if(conten_x <=1600){
            $(".conten").css({"width":"1600px"});
        }
        $(".noticeAdd").each(function(index){
            $(this).click(function(){
                isModify=1;
                $(".show_div").show();
            })
        });
        $(".close_show_div").click(function(){
            $(".show_div").hide();
            isModify=1;
        });
        $(".showList_submit").click(function(){
            $(".show_div").hide();
            var ObjectId=$(".ObjectId").val();
            var Style=$(".Style").val();
            var ServerTitle=$(".ServerTitle").val();
            var NetUrl=$(".NetUrl").val();
            var GamePort=$(".GamePort").val();
            var OpenType=$(".OpenType").val();
            var serverRunState=$(".serverRunState").val();
            var serverState=$(".serverState").val();
            var OpenTime=$(".OpenTime").val();

            $(this).html('发送中...');
            $(this).css({"background":"#616161"});
            if(ObjectId && Style && ServerTitle && NetUrl && GamePort && OpenType){
                $.get("/OShowGameServerGet/",{"isModify":isModify, "ObjectId":ObjectId, "Style":Style, "ServerTitle":ServerTitle,"NetUrl":NetUrl, "GamePort":GamePort, "OpenType":OpenType, "serverId":serverId,"serverState":serverState,"serverRunState":serverRunState,"OpenTime":OpenTime,"doingUnid":new Date().getTime()},function(data){
                    var obj = jQuery.parseJSON(data);
                    if(obj.status!=2000){
                        alert(obj.message)
                    }else{
                        alert("ok");
                    }
                    window.location.reload();
                });
            }else{
                alert("填写错误");
            }
        });
        $(".delete").each(function(index){
            $(this).click(function(){

                serverId=$(this).attr("serverId");
                var ObjectId=$(this).attr("ObjectId");
                var Style=$(this).attr("StyleStr");
                var ServerTitle=$(this).attr("ServerTitle");
                var NetUrl=$(this).attr("NetUrl");
                var GamePort=$(this).attr("GamePort");
                var OpenType=$(this).attr("OpenType");
                var serverState=$(this).attr("serverState");
                var serverRunState=$(this).attr("serverRunState");
                var OpenTime=$(this).attr("OpenTime");
                isModify=2;

                $(".close_show_title").html('修改服区');
                var ObjectIdStr='<option value="0">--选择平台--</option>';
                $.each(objectSJson,function(index,value){
                    if(ObjectId==index){
                        ObjectIdStr+='<option value="'+index+'" selected>'+value+'</option>';
                    }else{
                        ObjectIdStr+='<option value="'+index+'">'+value+'</option>';
                    }
                });
                $(".ObjectId").html(ObjectIdStr);
                $(".OpenTime").val(OpenTime);
                var StyleStr='<option value="0">--选择类型--</option>';
                if(Style==1){
                    StyleStr+='<option value="1" selected >正式</option><option value="2">内部</option><option value="3">被合并</option>';
                }else if(Style==2){
                    StyleStr+='<option value="1">正式</option><option value="2" selected>内部</option><option value="3">被合并</option>';
                }
                $(".Style").html(StyleStr);
                $(".ServerTitle").val(ServerTitle);
                $(".NetUrl").val(NetUrl);
                $(".GamePort").val(GamePort);

                if(OpenType==1){
                    $(".OpenType").html('<option value="0">--选择开放类型--</option> <option value="1" selected>开服</option> <option value="2">关服</option>')
                }else if(OpenType==2){
                    $(".OpenType").html('<option value="0">--选择开放类型--</option> <option value="1" >开服</option> <option value="2" selected>关服</option>')
                }
                if(serverState==0){
                    $(".serverState").html(' <option value="-1">--服务器标识--</option><option value="0" selected>正常服</option> <option value="1">新服</option> <option value="2">推荐服</option> <option value="3">满</option> <option value="4">维护中</option>')
                }else if(serverState==1){
                    $(".serverState").html(' <option value="-1">--服务器标识--</option><option value="0" >正常服</option> <option value="1" selected>新服</option> <option value="2">推荐服</option> <option value="3">满</option> <option value="4">维护中</option>')
                }else if(serverState==2){
                    $(".serverState").html(' <option value="-1">--服务器标识--</option><option value="0" >正常服</option> <option value="1">新服</option> <option value="2" selected>推荐服</option> <option value="3">满</option> <option value="4">维护中</option>')
                }else if(serverState==3){
                    $(".serverState").html(' <option value="-1">--服务器标识--</option><option value="0" >正常服</option> <option value="1">新服</option> <option value="2">推荐服</option> <option value="3" selected>满</option> <option value="4">维护中</option>')
                }else if(serverState==4){
                    $(".serverState").html(' <option value="-1">--服务器标识--</option><option value="0" >正常服</option> <option value="1">新服</option> <option value="2">推荐服</option> <option value="3">满</option> <option value="4" selected>维护中</option>')
                }

                if(serverRunState==0){
                    $(".serverRunState").html(' <option value="-1">--服务器状态--</option> <option value="0" selected>空闲</option> <option value="1">良好</option> <option value="2">爆满</option> <option value="3">维护中</option>')
                }else if(serverRunState==1){
                    $(".serverRunState").html(' <option value="-1">--服务器状态--</option> <option value="0">空闲</option> <option value="1" selected>良好</option> <option value="2">爆满</option> <option value="3">维护中</option>')
                }else if(serverRunState==2){
                    $(".serverRunState").html(' <option value="-1">--服务器状态--</option> <option value="0">空闲</option> <option value="1">良好</option> <option value="2" selected>爆满</option> <option value="3">维护中</option>')
                }else if(serverRunState==3){
                    $(".serverRunState").html(' <option value="-1">--服务器状态--</option> <option value="0">空闲</option> <option value="1">良好</option> <option value="2">爆满</option> <option value="3" selected>维护中</option>')
                }
                $(".show_div").show();
            })
        });
       /* $('.OpenTime').datetimepicker({
            lang:"ch",           //语言选择中文
            format:"Y-m-d H:00:00",      //格式化日期
            timepicker:true,    //关闭时间选项
            yearStart:2000,     //设置最小年份
            yearEnd:2050,        //设置最大年份
            todayButton:false    //关闭选择今天按钮
        });*/
        $(".relieve").each(function(){
            $(this).click(function(){
                var serverId=$(this).attr("serverId");
                if(serverId){
                    $.get("/ServerRelieveGet/",{"serverId":serverId,"doingUnid":new Date().getTime()},function(data){
                        var obj = jQuery.parseJSON(data);
                        if(obj.status!=2000){
                            alert(obj.message)
                        }else{
                            alert("ok");
                        }
                        window.location.reload();
                    })
                }
            })
        })
    });
</script>
<{/block}>