<{extends file='Admin/index.html'}>
<{block name=bbb}>
<script src="/views/datastyle/WdatePicker.js"></script>
<style>
    .page_title{font-size: 14px;color: #438EB9;margin: 10px 0 0 0;height: 35px;line-height: 35px;background:#FAFAFA ;border: 1px solid #DEDEDE;border-radius: 6px;padding-left: 10px;}
    .page_title span{font-size: 18px;color: #438EB9;padding-left: 10px;height: 40px;line-height: 40px;font-weight: bold}
    .fisrtGet{box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);border: 1px solid #DEDEDE;border-radius: 5px;padding: 0 10px 0 10px}
    .table_list{background:#F5F5F5;border-bottom:1px solid #DEDEDE;height: 30px;}
    .table_tr{float: left;  height: 30px;line-height: 30px;width: 150px;font-size: 12px;text-align: center;overflow: hidden}
    .table_name{float: left;line-height: 30px;height: 30px;}
    .noticeAdd{float: left;}
    .add_div{float: left;line-height: 30px;height: 30px;}
    .show_div{background: url('/views/img/bg_cc.png');width: 100%;height: 100%;position: fixed;z-index: 3;display: none;top:0;left: 0}
    .show_center{width: 1000px;margin: 150px auto 0 auto;background: #ffffff}
    .showList{clear: both;height: 32px;margin-top: 10px;}
    .showList_name{float: left;height: 30px;line-height: 30px;font-size: 12px;;text-align: right;width: 150px;}
    .showList select{display: block;float: left;height: 30px;line-height: 30px;font-size: 12px;width: 150px;}
    .showList span{display: block;float: left;height: 30px;line-height: 30px;font-size: 12px;width: 50px;text-align: right;}
    .showList input{height: 30px;line-height: 30px;display: block;float: left;width: 300px;border: 1px solid #cccccc;font-size: 14px;}
    
    .showList textarea{line-height: 30px;height: 60px;display: block;float: left;width: 600px;}
    .close_show_div{float: right;font-size: 14px;height: 40px;line-height: 40px;margin-right: 30px;}
    .showList_submit{width: 120px;height: 25px;line-height: 25px;font-size: 14px;text-align: center;border: 1px solid  #cccccc;cursor: pointer}
    .delete{width: 70px ;color: #438EB9;font-size: 12px;line-height: 30px;height: 30px;text-align: center;float: left}
    .table_tt_list{clear: both;height: 40px;}
    .table_tt_tr{float: left;line-height: 40px;height: 40px;width: 150px;text-align: center;font-size: 14px;font-weight: 600}
</style>
<div class="conten">
    <div class="page_title">资源服务管理</div>
    <div style="padding-left: 10px;padding-top: 10px;">
        <div style="margin-top: 10px;" class="queryShow">
            <div style="font-size: 14px ;height: 30px;line-height: 30px;">
                <div class="table_name">资源服务列表：</div>
                <div class="noticeAdd" typInt="2">
                    <div class="icon_add"></div>
                    <div class="add_div">增加资源服务</div>
                </div>
            </div>
            <div class="fisrtGet">
                <div class="table_tt_list">
                    <div class="table_tt_tr">资源服ID</div>
                    <div class="table_tt_tr">描述</div>
                    <div class="table_tt_tr" style="width: 250px;">域名</div>
                    <div class="table_tt_tr">端口</div>
                    <div class="table_tt_tr">操作</div>
                </div>
                <{if $data}>
                    <{foreach $data as $kk=>$vv}>
                    <div class="table_list">
                        <div class="table_tr"><{$vv['id']}></div>
                        <div class="table_tr"><{$vv['describeStr']}></div>
                        <div class="table_tr" style="width: 250px"><{$vv['netUrl']}></div>
                        <div class="table_tr"><{$vv['port']}></div>
                        <div class="table_tr">
                            <div class="delete"  serverId="<{$vv['id']}>" describeStr="<{$vv['describeStr']}>" netUrl="<{$vv['netUrl']}>" port="<{$vv['port']}>">修改</div>
                        </div>
                    </div>
                    <{/foreach}>
                <{/if}>
                <div class="table_tt_list"></div>
            </div>
        </div>
    </div>

</div>
<div class="show_div">
    <div class="show_center">
        <div class="page_title">增加资源服务<div class="close_show_div">关闭</div></div>
        <div class="showList">
            <div class="showList_name">描述：</div>
            <input type="text" class="describe">
        </div>
        <div class="showList">
            <div class="showList_name">域名：</div>
            <input type="text" class="netUrl">
        </div>
        <div class="showList">
            <div class="showList_name">端口：</div>
            <input type="text" class="port">
        </div>
        <div class="showList" style="height: 64px;">
            <div class="showList_submit" style="margin: 0 auto">提交</div>
        </div>
    </div>
</div>
<script>
    $(function(){
        var conten_x=$(".conten").width();
        isModify=1;                                //判断是否是修改模式
        serverId=0;                                //修改的id
        if(conten_x <=1600){
            $(".conten").css({"width":"1600px"});
        }
        $(".noticeAdd").each(function(index){
            $(this).click(function(){
                isModify=1;
                $(".show_div").show();
            })
        });
        $(".close_show_div").click(function(){
            $(".show_div").hide();
            isModify=1;
        });
        $(".showList_submit").click(function(){
            $(".show_div").hide();
            var describe=$(".describe").val();
            var netUrl=$(".netUrl").val();
            var port=$(".port").val();
            $(this).html('发送中...');
            $(this).css({"background":"#616161"});
            if(describe && netUrl && port){
                $.get("/ResourceServerGet/",{
                    "isModify":isModify,
                    "describe":describe,
                    "netUrl":netUrl,
                    "port":port,
                    "serverId":serverId,"doingUnid":new Date().getTime()
                },function(data){
                    var obj = jQuery.parseJSON(data);
                    if(obj.status!=2000){
                        alert(obj.message)
                    }else{
                        alert("ok");
                    }
                    window.location.reload();
                });
            }else{
                alert("填写错误");
            }
        });
        $(".delete").each(function(index){
            $(this).click(function(){
                serverId=$(this).attr("serverId");
                var describeStr=$(this).attr("describeStr");
                var netUrl=$(this).attr("netUrl");
                var port=$(this).attr("port");
                isModify=2;
                $(".describe").val(describeStr);
                $(".netUrl").val(netUrl);
                $(".port").val(port);
                $(".show_div").show();
            })
        });
    });
</script>
<{/block}>